/*Etiquetas*/

﻿html, body {
    height: 100%;
    margin: 0;
}

body {
    height:100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 1rem 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}

header .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: #fafaff !important;
    background-color: #00361E;
    padding-left: 10%;
    padding-right: 10%;
}

body {
    background-color: #FAFAFF;
}

hr {
    color: #329F5B;
}

footer hr{
    color: #fafaff;
}

a {
    color: black;
}

h5 {
    font-size: 1.3rem;
    background-color: #FAFAFF;
    border-radius: 25px;
    color: black;
    padding: 5px;
}

/*Clases*/

.ColorFondoSecundario {
    background-color: #EDEDF5;
    padding: 2rem;
    border-radius: 15px;
}

.VerdePrincipal {
    background-color: #329F5B;
}

.VerdeSecundario {
    background-color: #58D687;
}

.VerdeFiltros {
    background-color: #C0D461;
    color: black;
}

.AzulDestacado {
    background-color: #1B98E0;
}

.LogoText{
    font-size: 3rem !important;
}

.HeaderBorder {
    border-bottom: solid 1px #329F5B;
}

.GrisInputs {
    background-color: #D9D9D9;
}
.GrisInputs:focus {
    background-color: #D9D9D9;
}

.Links {
    text-align: center;
    font-size: 0.75rem;
}

.RecuadroProducto {
    text-align:left;
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.RecuadroProducto hr{
    color: #fafaff;
}

    .RecuadroProducto:hover {
        color: #fafaff;
        transform: scale(1.05);
        background-color: #29894D;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.ContenedorCompra {
    display: flex;
    align-items: end;
    gap: 10px;
}

.EtiquetaDescripcion{
    margin-right: 1.5rem;
}

.NombreWebBot {
    margin-top: 7.5rem;
    color: #fafaff;
}

.Messages {
    position: fixed;
    bottom: 30px;
    right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 22rem;
    z-index: 1001;
}

.HeaderBarMessages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #58D687;
    border-bottom: 1px solid grey;
    border-radius: 5px 5px 0px 0px;
}
.HeaderBarMessages svg {
    border: 1px solid grey;
    border-radius: 50%;
}
.HeaderBarMessages svg:hover {
    color: white;
    border: 1px solid white;
}
.HeaderChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid grey;
}

.EspaciadoLateral {
    margin-left: 10%;
    margin-right: 10%;
}

.PaginaProducto {
    padding-left: 15rem;
    padding-right: 15rem;
}

.ProductoElegido{
    font-size: 1.5rem;
    margin-top:1.5rem;
}

.chat-box {
    width: 22rem;
    height: 25rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    right: 310px;
    z-index: 1001;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #58D687;
    border-bottom: 1px solid #ccc;
    flex-grow: 1;
    max-height: 4rem;
}

.chat-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-header .chat-info {
    display: flex;
    flex-direction: column;
}

.chat-header button {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 2rem;
}

.chat-header .chat-info .title {
    font-weight: bold;
    font-size: 14px;
}

.chat-header .chat-info .subtitle {
    font-size: 12px;
    color: #888;
}

.chat-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.chat-body .message-left,
.chat-body .message-right {
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 16px;
    max-width: 70%;
}

.chat-body .message-left {
    background-color: #e1ffc7;
    align-self: flex-start;
}

.chat-body .message-right {
    background-color: #d1e7ff;
    align-self: flex-end;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
}

.chat-footer input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 80%;
}

.chat-footer button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.price-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accept-icon,
.reject-icon {
    font-size: 24px;
}

.accept-icon {
    align-self: flex-start;
}
.reject-icon {
    align-self: flex-end;
}

.accept-icon:hover, .reject-icon:hover {
    opacity: 0.8;
}

.disabled-icon {
    pointer-events: none;
    display: hidden;
}



.ProductoElegido p {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.ProductoElegido img{
    border-radius: 15px;
}

    /*Botones*/

.BotonHeader {
    background-color: #fafaff;
    font-size: 1.60rem;
    border: solid 3px #329F5B;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

    .BotonHeader:hover {
        background-color: #329F5B;
        color: #fafaff !important;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.Buscador {
    background-color: #D9D9D9;
    font-size: 1.55rem;
    border-radius: 100px;
    width: 20rem;
}

.LogOut {
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.75;
}

    .LogOut:hover {
        transform: scale(1.05);
        opacity: 1;
    }

.BotonCrear {
    text-decoration: none;
    width: 12.5rem;
    border-radius: 25px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.15rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.BotonCrear:hover {
    color: #fafaff;
    transform: scale(1.05);
    background-color: #29894D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.BotonFiltro {
    margin-right: 1.1rem;
    background-color: #C0D461;
    font-size: 1.15rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

    .BotonFiltro:hover {
        background-color: #a3b73a;
        color: #fafaff;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .BotonFiltro:active {
        background-color: #fafaff;
        color: #C0D461;
        transform: scale(0.98);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce la sombra para dar un efecto de presión */
    }

.BotonFiltro2 {
    padding: 0.25rem;
    padding-left:1rem;
    padding-right:1rem;
    margin-right: 1.1rem;
    background-color: #fafaff;
    border: solid 1px #329F5B;
    font-size: 1.75rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.BotonEnlace {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.3rem;
    border-radius: 25px;
    background-color: #1B98E0;
    color: #fafaff;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

    .BotonEnlace:hover {
        background-color: #177AB3;
        color: #fafaff;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.BtnClose {
    border: 0px;
    background-color: inherit;
    color: black;
    font-size: 1.5rem;
}
.BtnClose:hover {
    color: grey;
}

.BtnSubmit {
    border: 0px;
    border-radius: 5px;
    width: 100%;
}
.BtnSubmit:hover {
    color: grey;
    background-color: #C0D461;
}

.BotonComprar {
    margin-left: auto;
    margin-top: 1rem;
    width: 50%;
    height: 5rem;
    background-color: #1B98E0;
    color: #fafaff;
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

    .BotonComprar:hover {
        background-color: #177AB3;
        color: #fafaff;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


/*Boostrap sobreesrcitos*/
.navbar-brand {
    font-size: 2.5rem !important;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000000 !important;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 1;
    }

.carousel-item img {
    width: 100%;
    height: 500px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover;
}

.box-shadow {
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, .05) !important;
}

.modal-body label {
    font-size: 1.25rem;
}

/*Responsive*/

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
}

/* Estilo para desktop */
.navbar-expand-lg .navbar-nav {
    display: flex;
}

/* Estilo para smartphone */
@media (max-width: 991.98px) {

    .navbar-expand-lg .navbar-nav {
        display: block;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: block;
    }

        .navbar-collapse .d-flex {
            flex-direction: column;
            align-items: flex-start;
        }

        .navbar-collapse form {
            margin-bottom: 1rem;
        }

        .navbar-collapse .BotonHeader {
            width: 100%;
            margin-top: 1rem;
        }
}

.carousel-item img{
    width: 100%;
    height: 25rem;
}

@media (max-width: 1200px) {
    .PaginaProducto {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (max-width: 768px) {
    .PaginaProducto {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 576px) {
    .PaginaProducto {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}