html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Asegúrate de que el footer tenga un poco de margen o padding */
footer {
    padding: 1rem 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}

header .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    padding-left: 10%;
    padding-right: 10%;
}

body {
    background-color: #FAFAFF;
}

hr {
    color: #329F5B;
    border: none;
}


/*Botones*/

.BotonHeader {
    background-color: #fafaff;
    font-size: 1.15rem;
    border: solid 3px #329F5B !important;
    border-radius: 100px !important;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

    .BotonHeader:hover {
        background-color: #329F5B;
        color: #fafaff !important;
        transform: scale(1.05);
    }

.Buscador {
    background-color: #D9D9D9 !important;
    font-size: 1.1  5rem !important;
    border-radius: 100px !important;
    width: 20rem !important;
}


/*Clases*/

.EspaciadoLateral {
    margin-left: 10%;
    margin-right: 10%;
}

.VerdePrincipal {
    background-color: #329F5B;
}

.VerdeSecundario {
    background-color: #58D687;
}

.VerdeFiltros {
    background-color: #C0D461;
}

.AzulDestacado {
    background-color: #1B98E0;
}

.HeaderBorder {
    border-bottom: solid 1px #329F5B;
}




/*Boostrap sobreesrcitos*/



.navbar-brand {
    font-size: 2.5rem !important;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000000 !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
   opacity: 1;
}


.box-shadow {
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, .05) !important;
}

/*Responsive*/

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.25rem;
    }

}


/* Estilo para pantallas grandes */
.navbar-expand-lg .navbar-nav {
    display: flex;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-nav {
        display: block;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: block;
    }

        .navbar-collapse .d-flex {
            flex-direction: column;
            align-items: flex-start;
        }

        .navbar-collapse form {
            margin-bottom: 1rem;
        }

        .navbar-collapse .BotonHeader {
            width: 100%;
            margin-top: 1rem;
        }
}

.carousel-item img{
    width: 50rem;
    height 25rem;
}
