/*Etiquetas*/

﻿html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 1rem 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}

header .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    padding-left: 10%;
    padding-right: 10%;
}

body {
    background-color: #FAFAFF;
}

hr {
    color: #329F5B;
    border: none;
}

a{
    color: black;
}

/*Clases*/
.EspaciadoLateral {
    margin-left: 10%;
    margin-right: 10%;
}

.VerdePrincipal {
    background-color: #329F5B;
}

.VerdeSecundario {
    background-color: #58D687;
}

.VerdeFiltros {
    background-color: #C0D461;
    color: black;
}

.AzulDestacado {
    background-color: #1B98E0;
}

.HeaderBorder {
    border-bottom: solid 1px #329F5B;
}

.GrisInputs {
    background-color: #D9D9D9;
}
.GrisInputs:focus {
    background-color: #D9D9D9;
}

.Links {
    text-align: center;
    font-size: 0.75rem;
}



.Messages {
    position: fixed;
    bottom: 30px;
    right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    z-index: 1001;
}

.HeaderBarMessages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #58D687;
    border-bottom: 1px solid grey;
    border-radius: 5px 5px 0px 0px;
}
.HeaderBarMessages svg {
    border: 1px solid grey;
    border-radius: 50%;
}
.HeaderChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid grey;
}



/*Botones*/

.BotonHeader {
    background-color: #fafaff;
    font-size: 1.15rem;
    border: solid 3px #329F5B;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

    .BotonHeader:hover {
        background-color: #329F5B;
        color: #fafaff !important;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.Buscador {
    background-color: #D9D9D9;
    font-size: 1.15rem;
    border-radius: 100px;
    width: 20rem;
}

.BotonFiltro {
    margin-right: 1.1rem;
    background-color: #C0D461;
    font-size: 1.15rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

    .BotonFiltro:hover {
        background-color: #a3b73a;
        color: #fafaff;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .BotonFiltro:active {
        background-color: #fafaff;
        color: #C0D461;
        transform: scale(0.98);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce la sombra para dar un efecto de presión */
    }

.BtnClose {
    border: 0px;
    background-color: inherit;
    color: black;
    font-size: 1.5rem;
}
.BtnClose:hover {
    color: grey;
}

.BtnSubmit {
    border: 0px;
    border-radius: 5px;
    width: 100%;
}
.BtnSubmit:hover {
    color: grey;
    background-color: #C0D461;
}


/*Boostrap sobreesrcitos*/

.navbar-brand {
    font-size: 2.5rem !important;
}

.carousel-control-prev,
.carousel-control-next {
    color: #000000 !important;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 1;
    }


.box-shadow {
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, .05) !important;
}

.modal-body label {
    font-size: 1.25rem;
}

/*Responsive*/

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
}


/* Estilo para desktop */
.navbar-expand-lg .navbar-nav {
    display: flex;
}

/* Estilo para smartphone */
@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-nav {
        display: block;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: block;
    }

        .navbar-collapse .d-flex {
            flex-direction: column;
            align-items: flex-start;
        }

        .navbar-collapse form {
            margin-bottom: 1rem;
        }

        .navbar-collapse .BotonHeader {
            width: 100%;
            margin-top: 1rem;
        }
}

.carousel-item img{
    width: 100%;
    height: 25rem;
}
