@model IndexViewModel

@{
    ViewData["Title"] = "Agregar Producto";
}

<div class="container PaginaProducto">
    <div class="ProductoElegido ColorFondoSecundario">
        <h2>Crear anuncio</h2>
        <hr />
        <form asp-action="AgregarProducto" asp-controller="Home" method="post">
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="title">Título</label>
                    <input class="form-control GrisInputs" type="text" name="title" id="title" required />
                </div>
                <br />
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control GrisInputs" rows="5" cols="50" name="description" id="description" required></textarea>
                </div>
                <br />
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input class="form-control GrisInputs" type="number" step="0.01" name="price" id="price" required />
                </div>
                <br />
                <div class="form-group">
                    <label for="tags">Etiquetas</label>
                    <input class="form-control GrisInputs" type="text" name="tags" id="tags" placeholder="Escribe y presiona Enter..." />
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary BtnSubmit VerdeFiltros">Crear anuncio</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Inicializar Tagify en el campo de entrada
    var input = document.querySelector('#tags');
    new Tagify(input);
</script>
