@model IndexViewModel

@{
    ViewData["Title"] = "Agregar Producto";
}

<div class="container PaginaProducto">
    <div class="ProductoElegido ColorFondoSecundario">
        <h2>Crear anuncio</h2>
        <hr />
        <form asp-action="AgregarProducto" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="title">Título</label>
                    <input class="form-control GrisInputs" type="text" name="title" id="title" required />
                </div>
                <br />

                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control GrisInputs" rows="5" cols="50" name="description" id="description" required></textarea>
                </div>
                <br />

                <div class="form-group">
                    <label for="price">Precio</label>
                    <input class="form-control GrisInputs" type="number" step="0.01" name="price" id="price" required />
                </div>
                <br />

                <div class="form-group">
                    <label for="imagen">Imagen del Producto</label>
                    <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" required />
                </div>
                <br />

                <div class="form-group">
                    <p>Selecciona una o más etiquetas:</p>
                    <div>
                        @foreach (Etiqueta etiqueta in Model.ListaEtiquetas)
                        {
                            <input type="checkbox" id="etiqueta_@etiqueta.IdEtiqueta" name="selectedEtiquetas" value="@etiqueta.IdEtiqueta">
                            <label for="etiqueta_@etiqueta.IdEtiqueta" class="EtiquetaDescripcion">@etiqueta.DescripcionEtiqueta</label>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="submit" class="BotonFiltro">Crear anuncio</button>
            </div>
        </form>
    </div>
</div>
