@model IndexViewModel

@{
    ViewData["Title"] = "AgregarProducto";
}

<div class="container PaginaProducto">
    <div class="ProductoElegido ColorFondoSecundario">
        <h2>Crear anuncio</h2>
        <hr />
        <form asp-action="AgregarProducto" asp-controller="Home" method="post">
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="title">Título</label>
                    <input class="form-control GrisInputs" type="text" name="title" />
                </div>
                <br />
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control GrisInputs" rows="5" cols="50 name="description"></textarea>
                </div>
                <br />
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input class="form-control GrisInputs" type="text" name="price" />
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary BtnSubmit VerdeFiltros">Crear anuncio</button>
            </div>
        </form>
    </div>
</div>
<script>
</script>