@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <div class="VerdePrincipal">
            <a>Div de prueba</a>
        </div>
        <div class="VerdeSecundario">
            <a>Div de prueba</a>
        </div>
        <div>
            <a>Div de prueba</a>
        </div>
    </div>
    <hr>
    <button>Boton prueba</button>
</div>
