@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="#" alt="Alternate Text" />
                <button>Oferta</button>
            </div>
            <div class="carousel-item">
                <h1>Hola</h1>
                <button>Oferta</button>
            </div>
            <div class="carousel-item">
                <h1>Adios</h1>
                <button>Oferta</button>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="ColorCarrousel">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="ColorCarrousel">Next</span>
        </button>
    </div>
    <br />
    <div>
        <div class="VerdePrincipal">
            <a>Div de prueba</a>
        </div>
        <div class="VerdeSecundario">
            <a>Div de prueba</a>
        </div>
        <div>
            <a>Div de prueba</a>
        </div>
    </div>
    <hr>
    <button>Boton prueba</button>
</div>
