@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}

<div class="container text-center">
    <div class="d-flex justify-content-start mb-4">
        <div id="RecuadroFiltro" class="d-flex flex-wrap gap-2">
            @foreach (string filtro in Model.EtiquetaFiltros.Filtros)
            {
                <form asp-controller="Home" asp-action="ObtenerAnuncios" method="get">
                    <input type="hidden" name="filtro" value="@filtro" />
                    <button type="submit" class="btn BotonFiltro">@filtro</button>
                </form>
            }
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.leonardo-gr.com/wp-content/uploads/2022/05/residuo.jpg" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>¿Te interesa saber como funciona la página?</h5>
                    <button onclick="location.href='@Url.Action("Nosotros", "Home" )'" class="btn btn-primary" value="">Más información</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1130636356/es/foto/puesta-de-sol-sobre-la-monta%C3%B1a-con-cosmos-florece.jpg?s=612x612&w=0&k=20&c=J1Mr6EjRCQEEnPUKSDb8MACqp3Y5FOq15wTwsOdq2gA=" alt="Slide 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Vende productos para reciclar</h5>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("AgregarProducto", "Home" )'">Vender</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.travelandleisure.com/thmb/k8XtvMdZYniqxtQYS--CisfbIp0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-header-wildflowers-crested-butte-colorado-COFLOWERS0424-a35f8aa3de75417ca1a98417835c2a58.jpg" alt="Slide 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Si tienes alguna pregunta o necesitas ayuda</h5>
                    <button class="btn btn-primary">Contactanos</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br />
    <br />
    <h2 class="text-start">Lo más vendido</h2>
    <hr />
    @await Html.PartialAsync("_AnunciosPartial", Model.EtiquetaAnuncio)

</div>
<script>
    // Verifica si ViewBag.MostrarModal tiene un valor
    @if (TempData["MostrarModal"] != null)
    {
        <text>
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('[data-bs-target="#myModal"]').click();
            });
        </text>
    }
</script>
<script src="~/js/Busqueda.js"></script>