@{
    ViewData["Title"] = "Nosotros";
}

<div class="container PaginaNosotros">
    <div class="ProductoElegido ColorFondoSecundario">
        <img src="https://www.leonardo-gr.com/wp-content/uploads/2022/05/residuo.jpg" class="img-fluid" alt="FotoMuestra">
        <br />
        <div class="ContenedorCompra">
            <h1>Bienvenido a Econet€</h1>
        </div>
        <hr>
        <br />
        <div>
            <p>
                Somos una empresa de compra y venta de materiales de y para <strong>reciclaje</strong>, en ésta página su empresa podrá colaborar en el reciclaje de objetos y materiales que tengas a tu disposicìón y que ya no requiera.
                <br />
                En la página podrás buscar y seleccionar materia de otras empresas que te interesen, te pondremos en contacto con la <strong>persona encargada</strong> del anuncio y podreis discutir un precio, en caso de que se requiera, para la compra de suso dicho.
            </p>
        </div>
        <div class="ContenedorCompra">
            <h1>Nosotros</h1>
        </div>
        <div>
            <p>
                Somos un equipo de 4 integrantes formados por Ivan, Gorka, Sergio y Marc, hemos ideado esta página para ayudar a las empresas de reciclaje a tener un mejor contacto con las empresas, y recompensando a las empresas para que impulsarlas a reciclar más.
            </p>
        </div>
    </div>
</div>
<script>
</script>