@{
    ViewData["Title"] = "Nosotros";
}

<div class="container PaginaNosotros">
    <div class="ProductoElegido">
        <div class="d-flex align-items-center ColorFondoSecundario">
            <div>
                <h1>Bienvenido a Econet</h1>
            </div>
            <div class="ms-4">
                <!-- Espacio entre el texto y la imagen -->
                <img src="https://www.leonardo-gr.com/wp-content/uploads/2022/05/residuo.jpg" class="img-fluid" alt="FotoMuestra">
            </div>
        </div>
        <br/>
        <div class="ContenedorCompra">
        </div>
        <div>
            <p>
                Somos una empresa de compra y venta de materiales de y para <strong>reciclaje</strong>, en esta página su empresa podrá colaborar en el reciclaje de objetos y materiales que tenga a su disposición y que ya no requiera.
                <br />
                En la página podrás buscar y seleccionar material de otras empresas que te interesen, te pondremos en contacto con la <strong>persona encargada</strong> del anuncio y podréis discutir un precio, en caso de que se requiera, para la compra del material mencionado.
            </p>
        </div>
        <br/>
        <div class="ContenedorCompra">
            <h1>Nosotros</h1>
        </div>
        <hr>
        <div>
            <p>
                Somos un equipo de 4 integrantes formados por Iván, Gorka, Sergio y Marc, hemos ideado esta página para ayudar a las empresas de reciclaje a tener un mejor contacto con otras empresas y recompensarlas para impulsarlas a reciclar más.
            </p>
        </div>
    </div>
</div>