@{
    ViewData["Title"] = "Producto";
}

<div class="container text-center PaginaProducto">
    <div class="ProductoElegido">
        <img src="https://www.travelandleisure.com/thmb/Ag8nh_g-dqxboIRas-uGLkBUH8g=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/FlowerFieldsinCarlsbadRanch_ChelseaLoren01-61144763f8bc45a4843f1ea7b72434b1.jpg" height="500rem" alt="FotoMuestra">
        <br />
        <h2>250€</h2>
        <hr>
        <h2>Nombre Articulo</h2>
        <h3>Kisaragi</h3>
        <br />
        <br/>
        <div>TextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemplo
            TextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemplo
            TextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemplo
            TextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemploTextoEjemplo
        </div>
        <br />
        <div>
            <button class="btn BotonFiltro2">Filtro</button>
            <button class="btn BotonFiltro2">Filtro</button>
            <button class="btn BotonFiltro2">Filtro</button>
        </div>
    </div>
    <br />
    <button class="btn BotonComprar">Comprar</button>
    <hr />
    <div class="ProductosSimilares">

    </div>
</div>